.countdown{
    color:#fff;
    font-size: 12rem;
    font-family: 'Josefin Sans', sans-serif;
    border:1.6rem solid #fff;
    padding: 1.2rem 8rem .1rem 8rem;
    border-radius: 25rem;
    background-color: rgba(61, 51, 78,.75);
    box-shadow: 10px 30px 50px rgba(0, 0, 0, 0.5); /* Adicione essa linha */
    width:33%;
}

.bg-game{
    overflow: hidden;
    background-color: rgb(61 51 78);
    width: 100%;
    mix-blend-mode: revert;
}

.giphy-embed{
    mix-blend-mode: revert;
    position:absolute;
}