.countdown{
    color:#fff;
    font-size: 12rem;
    font-family: 'Josefin Sans', sans-serif;

    padding: 1.2rem 8rem .1rem 8rem;
  
     font-family: 'Press Start 2P', cursive;

    width:auto;
}

.bg-game{
    overflow: hidden;

    width: 100%;
    mix-blend-mode: revert;
}

.giphy-embed{
    mix-blend-mode: revert;
    position:absolute;
}

