:root{
    --height: 610px !important;
    --color1:#000;
    --color2:#ffc914;
}
.wheel-container {
    position: relative;
    width: 741px;
    height: 1363px;
    margin: 0 auto;
    text-align: center;
    
  }

  .wheel-container::after {
    content: "";
    position: absolute;
    width: 1550px;
    height: 1550px;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    top: -84px;
    left: -409px;
    background-color: black;
    z-index: -12;
    box-shadow: 0px 0px 55px 12px var(--color2);
}
  
  .wheel {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    animation: spin 4s linear infinite;
    border-radius: 50%;
   
  }

  .wheel::after{
    content: "SPIN IT";
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 99px;
    color:var(--color2);
    animation: shadow-animation 1s infinite alternate, font-size-animation 1s infinite alternate;
   
  }
  @keyframes shadow-animation {
    0% {
      box-shadow: 0px 0px 5px 5px var(--color1);
    }
    50% {
      box-shadow: 0px 0px 55px 12px var(--color2);
    }

    100% {
      box-shadow: 0px 0px 5px 5px var(--color1);
    }
  }


  @keyframes font-size-animation {
    0% {
      font-size: 99px;
    }
    50% {
      font-size: 120px;
    }
    100% {
      font-size: 99px;
    }
  }


  .slice {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30%;
    overflow: hidden;
  }




  .result{
    margin-top: 100px;
    font-size: 180px;
    color:#fff;
    font-family: 'Bebas Neue', sans-serif;
    padding:0px;
    position: absolute;
    width: 1600px;
    height: 1600px;
    
  }
  .bg-won{
    z-index: 0;
    mix-blend-mode: lighten;
  }
.seta{
    transform: rotate(270deg);
    font-size: 99px;
    background-color:var(--color2);
    height: 125px;
    width:125px;
    margin-bottom: 50px;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    box-shadow: 0px 0px 55px 12px var(--color1);
  }

  .slice:nth-child(1) { 
    transform: rotate(0deg);
  
}
.slice:nth-child(1) .name{ 
    transform: rotate(270deg);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color: var(--color2);
    text-align: right;
    height:var(--height);
    display: flex;
    justify-content: end;
    align-items: center;
    
}




  .slice:nth-child(2) { transform: rotate(45deg); }

  .slice:nth-child(2) .name{ 
    transform: rotate(270deg);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color: var(--color1);
    text-align: right;
    height:var(--height);
    display: flex;
    justify-content: end;
    align-items: center;
    color:var(--color2)
}
  .slice:nth-child(3) { transform: rotate(90deg); }
  .slice:nth-child(3) .name{ 
    transform: rotate(270deg);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color: var(--color2);
    text-align: right;
    height:var(--height);
    display: flex;
    justify-content: end;
    align-items: center;
}
  .slice:nth-child(4) { transform: rotate(135deg); }
  .slice:nth-child(4) .name{ 
    transform: rotate(270deg);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color: var(--color1);
    text-align: right;
    height:var(--height);
    display: flex;
    justify-content: end;
    align-items: center;
    color:var(--color2)
}

  .slice:nth-child(5) { transform: rotate(180deg); }
  .slice:nth-child(5) .name{ 
    transform: rotate(270deg);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color: var(--color2);
    text-align: right;
    height:var(--height);
    display: flex;
    justify-content: end;
    align-items: center;
}


  .slice:nth-child(6) { transform: rotate(225deg); }
  .slice:nth-child(6) .name{ 
    transform: rotate(270deg);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color: var(--color1);
    text-align: right;
    height:var(--height);
    display: flex;
    justify-content: end;
    align-items: center;
    color:var(--color2)
}


  .slice:nth-child(7) { transform: rotate(270deg); }
  .slice:nth-child(7) .name{ 
    transform: rotate(270deg);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color: var(--color2);
    text-align: right;
    height:var(--height);
    display: flex;
    justify-content: end;
    align-items: center;
}

  .slice:nth-child(8) { transform: rotate(315deg); }
  .slice:nth-child(8) .name{ 
    transform: rotate(270deg);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    background-color: var(--color1);
    text-align: right;
    height:var(--height);
    display: flex;
    justify-content: end;
    align-items: center;
    color:var(--color2)
}


  
  .spin-result {
    margin-top: 20px;
    font-weight: bold;
  }
  
  #spin-button {
    margin-top: 250px;
    position:absolute;
    z-index: 9999;
  }
  
.name{
    font-size: 75px;
    padding-right: 120px;
    font-family: 'Bebas Neue', sans-serif;
    
}

  
  .wheel.stopped {
    animation: none;
  }

  .opacity-x{
    opacity: .2;
  }
  