{% extends "shared/base_stream.html" %}
{% block content %}
<link href="../static/css/header.css" rel="stylesheet">
<div class="screenBox">
    <div class="topbanner d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center topbanner w-100">
            <iframe src="https://giphy.com/embed/OK5LK5zLFfdm" width="3840" height="3840" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <div class="animated-div" id="link">
                <div class="d-flex justify-content-center align-items-center link">
                    <div class="Twitch">Twitch.tv</div>
                    <div class="Twitch-link">/deniskosiak</div>
                </div>
            </div>
            <div class="fade-in" style="display: none;" id="logo">
                <img class="img_invert" src="./static/img/HHwordmark.png" width="800">
            </div>
        </div>
       
    </div>
</div>
<script src="../static/js/header.js"></script>  
{% endblock %}