{% extends "shared/base.html" %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
<link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro.min.css">
<nav class="navbar fixed-top bg-white fixed-top">
  <div class="w-100 d-flex justify-content-around align-items-center">
    <a class="navbar-brand" href="#">

      <img src="./static/img/HHwordmark.png" alt="" height="50">

    </a>
    <div class="d-flex justify-content-center align-items-center">
      <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation">
        <i style="font-size: 2rem;" class="bx bxs-joystick"></i>
      </a>
      <a class="mx-5 text-dark" data-bs-toggle="offcanvas" data-bs-target="#spinningCanvas"
        aria-controls="spinningCanvas" aria-label="Toggle navigation">
        <i style="font-size: 2rem;" class="bx bx-rotate-left"></i>
      </a>
      <a data-bs-toggle="offcanvas" data-bs-target="#timmerCanvas" aria-controls="timmerCanvas"
        aria-label="Toggle navigation">
        <i style="font-size: 2rem;" class="bx bxs-timer"></i>
      </a>
    </div>


    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Main Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form action="/configs" method="POST">

          <div class="mt-4">
            <input type="hidden" id="input_player" value="{% if configs.players %}{{configs.players}}{%else%}{%endif%}">
            <h6><i class="bi bi-joystick me-2"></i> Select number players:</h6>
            <div class="form-floating">
              <select class="form-select" id="select_player" name="players" aria-label="Select number players">

                <option selected disabled>Select players</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <!-- <option value="3">Three</option>
                <option value="4">Four</option> -->

              </select>
              <label for="floatingSelect">Players</label>
            </div>
          </div>

          <div class="mt-4">

            <h6><i class="bi bi-controller me-2"></i>Select game mode:</h6>
            <input type="hidden" id="input_game" value="{% if configs.game %}{{configs.game}}{%else%}{%endif%}">

            <div class="form-floating">
              <select class="form-select" id="select_game" name="game" aria-label="Select game mode">
                <option selected disabled>Open this select menu</option>
                <option value="Sport">Sport</option>
                <option value="Race">Race</option>
                <option value="FPS">FPS</option>
                <option value="Logo">HH Logo</option>

              </select>
              <label for="floatingSelect">Players</label>
            </div>

          </div>

          <div class="d-grid gap-2 mt-4">
            <button class="btn btn-primary" type="submit">Start Game</button>

          </div>




        </form>

      </div>

    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="spinningCanvas" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="spinningCanvasLabel">Spinning wheel Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <form>


          <div class="mt-4">
            <div class="form-floating">
              <input class="form-control spin-name" id="sorted_1" data-position="1" placeholder="name 1"
                onkeyup="setSpinName(this)" value="{% if spin_name_1 %}{{spin_name_1[0]['name']}}{% endif %}">
              <label for="sorted_1">Name 1</label>
            </div>
          </div>
          <div class="mt-1">
            <div class="form-floating">
              <input class="form-control spin-name" id="sorted_2" data-position="2" placeholder="name 2"
                onkeyup="setSpinName(this)" value="{% if spin_name_2 %}{{spin_name_2[0]['name']}}{% endif %}">
              <label for="sorted_2">Name 2</label>
            </div>
          </div>
          <div class="mt-1">
            <div class="form-floating">
              <input class="form-control spin-name" id="sorted_3" data-position="3" placeholder="name 3"
                onkeyup="setSpinName(this)" value="{% if spin_name_3 %}{{spin_name_3[0]['name']}}{% endif %}">
              <label for="sorted_3">Name 3</label>
            </div>
          </div>
          <div class="mt-1">
            <div class="form-floating">
              <input class="form-control spin-name" id="sorted_4" data-position="4" placeholder="name 4"
                onkeyup="setSpinName(this)" value="{% if spin_name_4 %}{{spin_name_4[0]['name']}}{% endif %}">
              <label for="sorted_4">Name 4</label>
            </div>
          </div>
          <div class="mt-1">
            <div class="form-floating">
              <input class="form-control spin-name" id="sorted_5" data-position="5" placeholder="name 5"
                onkeyup="setSpinName(this)" value="{% if spin_name_5 %}{{spin_name_5[0]['name']}}{% endif %}">
              <label for="sorted_5">Name 5</label>
            </div>
          </div>
          <div class="mt-1">
            <div class="form-floating">
              <input class="form-control spin-name" id="sorted_6" data-position="6" placeholder="name 6"
                onkeyup="setSpinName(this)" value="{% if spin_name_6 %}{{spin_name_6[0]['name']}}{% endif %}">
              <label for="sorted_6">Name 6</label>
            </div>
          </div>
          <div class="mt-1">
            <div class="form-floating">
              <input class="form-control spin-name" id="sorted_7" data-position="7" placeholder="name 7"
                onkeyup="setSpinName(this)" value="{% if spin_name_7 %}{{spin_name_7[0]['name']}}{% endif %}">
              <label for="sorted_7">Name 7</label>
            </div>
          </div>
          <div class="mt-1">
            <div class="form-floating">
              <input class="form-control spin-name" id="sorted_8" data-position="8" placeholder="name 8"
                onkeyup="setSpinName(this)" value="{% if spin_name_8 %}{{spin_name_8[0]['name']}}{% endif %}">
              <label for="sorted_8">Name 8</label>
            </div>
          </div>
          <div class="d-grid gap-2 mt-4">
            <button class="btn btn-danger spin-now" type="button">SPIN NOW !!! </button>

          </div>
        </form>
      </div>

    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="timmerCanvas" aria-labelledby="timmerCanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="timmerCanvasLabel">COUNTDOWN</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <input data-role="timepicker" data-on-set="setTimmer(arguments)">
        <div class="d-flex flex-column justify-content-center align-items-center mt-5 count-box">

          <div id="countdown-display" class="countdown">00:00:00</div>

          <div style="font-size: 4rem;">
            <a id="start-button"><i class='bx bx-play-circle'></i></a>
            <a style="display: none;" id="pause-button"><i class='bx bx-pause-circle'></i></a>
            <!-- <button id="reset-button">Resetar</button> -->
          </div>



        </div>

      </div>

    </div>



  </div>
</nav>


<div class="d-flex flex-column justify-content-center align-items-center  vh-100">

  <div class="d-flex justify-content-center align-items-center colored">

    <div class="control-admin position-relative">
      <img src="./static/img/player_1_control.png" height="400">
    </div>
    <div class="screen flex-column d-flex justify-content-center align-items-center">

      <div class="d-flex justify-content-center align-items-center v-100 mb-2">
        <h3>Score Manager</h3>
      </div>


      <div class="d-flex flex-wrap justify-content-center align-items-center v-100 w-100">
        <div class="card card-p1 m-1" style="display: none;">
          <div class="card-body">
            <h5 class="card-title player1-title">Player 1</h5>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="player1_name" placeholder=" " value="{{player1.name}}">
              <label for="player1-name">Player 1</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" min="0" max="8" step="1" class="form-control" id="player1_score"
                value="{{player1.score}}" placeholder=" ">
              <label for="player1-score">Score</label>
            </div>

          </div>
        </div>
        <div class="card card-p2 m-1" style="display: none;">
          <div class="card-body">
            <h5 class="card-title player2-title">Player 2</h5>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="player2_name" placeholder=" " value="{{player2.name}}">
              <label for="player2-name">Player 2</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" min="0" step="1" class="form-control" max="8" placeholder=" " id="player2_score"
                value="{{player2.score}}">
              <label for="player2-score">Score</label>
            </div>

          </div>
        </div>
        <div class="card card-p3 m-1" style="display: none;">
          <div class="card-body">
            <h5 class="card-title player3-title">Player 3</h5>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="player3_name" placeholder=" " value="{{player3.name}}">
              <label for="player3-name">Player 3</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" min="0" max="8" step="1" class="form-control" id="player3_score"
                value="{{player3.score}}" placeholder=" ">
              <label for="player3-score">Score</label>
            </div>

          </div>
        </div>
        <div class="card card-p4 m-1" style="display: none;">
          <div class="card-body">
            <h5 class="card-title player4-title">Player 4</h5>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="player4_name" placeholder=" " value="{{player4.name}}">
              <label for="player4-name">Player 2</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" min="0" step="1" class="form-control" max="8" placeholder=" " id="player4_score"
                value="{{player4.score}}">
              <label for="player4-score">Score</label>
            </div>

          </div>
        </div>
      </div>

    </div>



    <div class="control-admin position-relative">
      <img src="./static/img/player_2_control.png" height="400">
    </div>
  </div>


  <div class="alert alert-info position-absolute d-flex justify-content-center align-items-center" role="alert">
    Game mode > <strong class="me-2">{{configs.game}}</strong>
    {% if filename == 'FlagLogo.png'%}
    <div class="cover-flag">
      <img src="./static/img/{{filename}}" height="45">
    </div>

    {% else %}
    <img src="./static/img/{{filename}}" height="20">

    {% endif %}


  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


<script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
<script src="../static/js/socket-admin.js"></script>
<script src="../static/js/action.js"></script>
<script src="../static/js/countdown.js"></script>

<script>

</script>
{% endblock %}